asgiref==3.4.1
Django==3.2.5
psycopg2==2.9.1
Pillow==8.3.1
python-decouple==3.4
pytz==2021.1
soupsieve==2.2.1
sqlparse==0.4.1
gunicorn==20.1.0
whitenoise==5.3.0
dj_database_url==0.5.0
django_heroku==0.3.1
django-modeladmin-reorder==0.3.1
django-storages==1.12.3
boto3==1.20.26
botocore==1.23.26
jmespath==0.10.0
python-dateutil==2.8.2
s3transfer==0.5.0
six==1.16.0
urllib3==1.25.4