{% extends 'base.html' %}
{% load static %}

{% block title %}ABOUT US{% endblock %}

{% block metas %}

<meta name="author" content="Umutambyi Gad" />
<meta name="keywords" content="HABIYAREMYE Dona Honey, Kigali Dona intelligencia, Rwandan author, Kinyarwanda Books" />
<meta name="description" content="About official Kigali, Rwanda public library website of kigalidonaintelligencia" />

{% endblock %}

{% block content %}

<!-- Start: Page Banner -->
<section class="page-banner services-banner">
    <div class="container">
        <div class="banner-header">
            <h2>About us</h2>
            <span class="underline center"></span>
            <p class="lead">The standard chunk of Lorem Ipsum used since</p>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="{% url 'Home:home' %}">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
</section>
<!-- End: Page Banner -->

<!-- Start: Services Section -->
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="services-main">
                <div class="services-pg">    
                    <section class="who-we-are">
                        <div class="company-info">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-8 border">
                                        <div class="row">
                                            <div class="col-sm-11">
                                                <div class="company-detail">
                                                    <h3 class="section-title">{{ about_us.title }}</h3>
                                                    <span class="underline left"></span>
                                                    <p>{{ about_us.description }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="company-image" style="background-image: url('{{ about_us.image.url }}') "></div>
                        </div>
                    </section>
                    <!-- Start: Testimonials Section -->
                    <section class="testimonials">
                        <div class="container">
                            <h3 class="section-title">Words From our Community</h3>
                            <span class="underline center"></span>
                            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <div class="row">
                                <div class="col-md-12" data-wow-delay="0.2s">
                                    <div class="carousel slide" data-interval="false" data-ride="carousel" id="testimonials">
                                        <!-- Carousel Slides / Quotes -->
                                        <div class="carousel-inner text-center">
                                            <!-- Quote -->
                                            {% for testimony in testimonies %}
                                            <div class="item {% if forloop.first %}active{% endif %}">
                                                <figure>
                                                    <img src="{{ testimony.author_image.url }}" alt="testimonials"/>
                                                    <figcaption>
                                                        <div class="client-name">{{ testimony.author_name }}</div>
                                                        <div class="designation">testimony author</div>
                                                    </figcaption>
                                                </figure>
                                                <p>{{ testimony.testimony }}</p>
                                            </div>
                                            {% endfor %}
                                            <!-- Carousel indicators -->
                                            <ol class="carousel-indicators">
                                                {% for testimony in testimonies %}
                                                <li data-target="#testimonials" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
                                                {% endfor %}
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- End: Testimonials Section -->
                </div>
            </div>
        </main>
    </div>
</div>
<!-- End: Services Section -->

{% include 'social-media.html' %}

{% endblock %}