{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Start: Page Banner -->
<section class="page-banner services-banner">
    <div class="container">
        <div class="banner-header">
            <h2>About us</h2>
            <span class="underline center"></span>
            <p class="lead">The standard chunk of Lorem Ipsum used since</p>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="{% url 'Home:home' %}">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
</section>
<!-- End: Page Banner -->

<!-- Start: Services Section -->
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="services-main">
                <div class="services-pg">    
                    <section class="who-we-are">
                        <div class="company-info">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-8 border">
                                        <div class="row">
                                            <div class="col-sm-11">
                                                <div class="company-detail">
                                                    <h3 class="section-title">{{ about_us.title }}</h3>
                                                    <span class="underline left"></span>
                                                    <p>{{ about_us.description }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="company-image" style="background-image: url('{{ about_us.image.url }}') "></div>
                        </div>
                    </section>
                    <!-- Start: Our Partners Section -->
                    <section class="community-testimonial">
                        <div class="container">
                            <div class="text-center">
                                <h2 class="section-title">Words From our Community</h2>
                                <span class="underline center"></span>
                                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="owl-carousel">
                                {% for testimony in testimonies %}
                                <div class="single-testimonial-box">
                                    <div class="top-portion">
                                        <img src="{{ testimony.author_image.url }}" alt="Testimonial Image" style="height:252px !important; width:170px !important;" loading="lazy"/>
                                        <div class="user-comment">
                                            <div class="arrow-left"></div>
                                            <blockquote cite="#">
                                                {{ testimony.testimony }}
                                            </blockquote>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="bottom-portion">
                                        <a href="#" class="author">
                                            {{ testimony.author_name }} <small>(Student )</small>
                                        </a>
                                        {% if testimony.linkedin_profile or testimony.facebook_profile or  testimony.twitter_profile or testimony.instagram_profile %}
                                        <div class="social-share-links">
                                            <ul>
                                                {% if testimony.linkedin_profile %}
                                                <li><a href="https://linkedin.com/in/{{ testimony.linkedin_profile }}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                                {% endif %}
                                                {% if testimony.facebook_profile %}
                                                <li><a href="https://facebook.com/{{ testimony.facebook_profile }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                {% endif %}
                                                {% if testimony.twitter_profile %}
                                                <li><a href="https://twitter.com/{{ testimony.twitter_profile }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                {% endif %}
                                                {% if testimony.instagram_profile %}
                                                <li><a href="https://instagram.com/{{ testimony.instagram_profile }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                        {% endif %}
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                    <!-- End: Our Partners Section -->
                </div>
            </div>
        </main>
    </div>
</div>
<!-- End: Services Section -->

{% include 'social-media.html' %}

{% endblock %}