{% extends 'base.html' %}
{% load static %}

{% block title %}{{ book.name }} by {{ book.author }}{% endblock %}

{% block book-active %}active{% endblock %}

{% block content %}

<!-- Start: Page Banner -->
<section class="page-banner services-banner">
    <div class="container">
        <div class="banner-header">
            <h2>Books</h2>
            <span class="underline center"></span>
            <p class="lead">Find the best books ever on Kigali Dona Intelligencia</p>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="{% url 'Home:home' %}">Home</a></li>
                <li><a href="{% url 'Books:books' %}">Books</a></li>
                <li>book detail</li>
            </ul>
        </div>
    </div>
</section>
<!-- End: Page Banner -->

<!-- Start: Products Section -->
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="booksmedia-detail-main">
                <div class="container">
                    <div class="row">
                    <!-- Start: Search Section -->
                    <section class="search-filters">
                        <div class="container">
                            <div class="filter-box">
                                <h3>What are you looking for? search here.</h3>
                                <form action="{% url 'Books:search-book' %}" method="GET">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label class="sr-only" for="keywords">Search by Keyword</label>
                                            <input class="form-control" placeholder="Search by Keyword" id="keywords" name="q" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <select name="type" class="form-control">
                                                <option selected>Books</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <select name="cat" id="category" class="form-control">
                                            <option value="all-category" selected>All Categories</option>
                                            {% for category in categories %}
                                                <option value="{{ category }}">{{ category }}</option>

                                            {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" type="submit" value="Search">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                    <!-- End: Search Section -->
                    </div>
                    <div class="row">
                        <div class="col-md-9 col-md-push-3 margin-top-bottom">
                            <div class="booksmedia-detail-box">
                                <div class="single-book-box">                                                
                                    <div class="post-thumbnail">
                                        <div class="book-list-icon yellow-icon"></div>
                                        <img alt="Book" src="{{ book.thumbnail.url }}" />
                                    </div>
                                    <div class="post-detail">
                                        <div class="books-social-sharing">
                                            <ul>
                                                {% if social_media.facebook_profile %}
                                                <li><a href="https://www.facebook.com/{{ social_media.facebook_profile }}" target="_blank"><i class="fa fa-facebook" target="_blank"></i></a></li>
                                                {% endif %}
                                                {% if social_media.twitter_profile %}
                                                <li><a href="https://twitter.com/{{ social_media.twitter_profile }}" target="_blank"><i class="fa fa-twitter" target="_blank"></i></a></li>
                                                {% endif %}
                                                {% if social_media.instagram_profile %}
                                                <li><a href="https://www.instagram.com/{{ social_media.instagram_profile }}" target="_blank"><i class="fa fa-instagram" target="_blank"></i></a></li>
                                                {% endif %}
                                                {% if social_media.linkedin_profile %}
                                                <li><a href="https://linkedin.com/in/{{ social_media.linkedin_profile }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                                {% endif %}
                                                {% if social_media.youtube_profile %}
                                                <li><a href="https://www.youtube.com/channel/{{ social_media.youtube_profile }}" target="_blank"><i class="fa fa-youtube"></i></a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                        <div class="optional-links">
                                            <ul>
                                                <li>
                                                    <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="Add To Cart">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ book.link }}" target="_blank" data-toggle="blog-tags" data-placement="top" title="Like">
                                                        <i class="fa fa-heart"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'Contact:contact' %}" target="_blank" data-toggle="blog-tags" data-placement="top" title="Mail">
                                                        <i class="fa fa-envelope"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="Print">
                                                        <i class="fa fa-print"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <header class="entry-header">
                                            <h2 class="entry-title">{{ book.name }}</h2>
                                            <ul>
                                                <li><strong>Author:</strong> {{ book.author }}</li>
                                                <li><strong>ISBN:</strong> {{ book.ISBN }}</li>
                                                <li><strong>Edition:</strong> {{ book.edition }}</li>
                                                <li><strong>Publisher:</strong> {{ book.publisher }}</li>
                                            </ul>
                                        </header>
                                        <div class="entry-content post-buttons">
                                            <a href="{{ book.link }}" class="btn btn-dark-gray">Buy book</a>
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    <strong>Summary:</strong>
                                    {{ book.summary | safe }}
                                 </p>
                                
                                <div class="booksmedia-fullwidth booksmedia-popular-list">
                                    <h2 class="section-title text-center">Popular Books</h2>
                                    <span class="underline center"></span>
                                    <p class="lead text-center">Most popular books over here.</p>
                                    <ul class="popular-items-detail-v1">
                                        {% for popular_book in popular_books %}
                                        <li>
                                            <div class="book-list-icon yellow-icon"></div>
                                            <figure>
                                                <img src="{{ popular_book.thumbnail.url }}" alt="Book">
                                                <figcaption>
                                                    <header>
                                                        <h4><a href="{{ popular_book.get_absolute_url }}">{{ popular_book.name }}</a></h4>
                                                        <p><strong>Author:</strong>  {{ popular_book.author }}</p>
                                                        <p><strong>ISBN:</strong>  {{ popular_book.ISBN }}</p>
                                                    </header>
                                                    <a href="{{ popular_book.get_absolute_url }}">
                                                        <p> {{ popular_book.summary|truncatechars:185 | safe }} </p>
                                                    </a>
                                                    <div class="actions">
                                                        <ul>
                                                            <li>
                                                                <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="Add To Cart">
                                                                    <i class="fa fa-shopping-cart"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="Like">
                                                                    <i class="fa fa-heart"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="Mail">
                                                                    <i class="fa fa-envelope"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="Print">
                                                                    <i class="fa fa-print"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </figcaption>
                                            </figure>                                                
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-md-pull-9">
                            <aside id="secondary" class="sidebar widget-area" data-accordion-group>
                                <div class="widget widget_recent_entries">
                                    <h4 class="widget-title">Recent books</h4>
                                    <ul>
                                        {% for recent_book in recent_books %}
                                        <li>
                                            <a href="{{ recent_book.get_absolute_url }}">
                                                <figure>
                                                    <img src="{{ recent_book.thumbnail.url }}" alt="product" style="width: 75px !important;" />
                                                </figure>
                                                <a href="#">{{ recent_book.name }}</a>
                                                <span><strong>Author:</strong> {{ recent_book.author }}</span>
                                                <span><strong>Edition:</strong> {{ recent_book.edition }}</span>
                                                <span><strong>ISBN:</strong>  {{ recent_book.ISBN }}</span>
                                                <div class="clearfix"></div>
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<!-- End: Products Section -->

{% include 'social-media.html' %}

{% endblock %}
