{% extends 'base.html' %}
{% load static %}

{% block title %}BOOKS{% endblock %}

{% block metas %}

<meta name="author" content="Umutambyi Gad" />
<meta name="keywords" content="HABIYAREMYE Dona Honey, Kinyarwanda Books, {% for book in books %}{{ book.name }}{% if not forloop.last %},{% endif %}{% endfor %}" />
<meta name="description" content="Books of Rwandan author professional HABIYAREMYE Dona Honey on kigalidonaintelligencia website" />

{% endblock %}

{% block content %}

<!-- Start: Page Banner -->
<section class="page-banner services-banner">
    <div class="container">
        <div class="banner-header">
            <h2>Books & Media Listing</h2>
            <span class="underline center"></span>
            <p class="lead">Proin ac eros pellentesque dolor pharetra tempo.</p>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="{% url 'Home:home' %}">Home</a></li>
                <li>Books</li>
            </ul>
        </div>
    </div>
</section>
<!-- End: Page Banner -->

<!-- Start: Products Section -->
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="books-full-width">
                <div class="container">
                    <!-- Start: Search Section -->
                    <section class="search-filters">
                        <div class="container">
                            <div class="filter-box">
                                <h3>What are you looking for at the library?</h3>
                                <form action="{% url 'Books:search-book' %}" method="GET">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label class="sr-only" for="keywords">Search by Keyword</label>
                                            <input class="form-control" placeholder="Search by Keyword" id="keywords" name="q" type="text" required>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <select name="type" class="form-control">
                                                <option selected>Books</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <select name="cat" id="category" class="form-control">
                                                <option value="all-category">All Categories</option>
                                                {% for category in categories %}
                                                <option value="{{ category }}">{{ category }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" type="submit" value="Search">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                    <!-- End: Search Section -->

                    {% if user.is_authenticated %}
                        <a href="{% url 'admin:index' %}" class="addition" style="margin: 0 0 15px 0;">
                            <span id="add-blog">Compose Book</span>
                            <span id="add">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                            </span>
                        </a>
                        {% endif %}
                    <div class="booksmedia-fullwidth">
                        <ul>
                        {% for book in books %}
                            <li>
                                <div class="book-list-icon yellow-icon"></div>
                                <figure>
                                    <a href="{{ book.get_absolute_url }}"><img src="{{ book.thumbnail.url }}" alt="Book"></a>
                                    <figcaption>
                                        <header>
                                            <h4><a href="{{ book.get_absolute_url }}">{{ book.name }}</a></h4>
                                            <p><strong>Author:</strong>  {{ book.author.get_full_name }}</p>
                                            <p><strong>Edition:</strong>  {{ book.edition }}</p>
                                        </header>
                                        <a href="{{ book.get_absolute_url }}">
                                            <p>{{ book.summary|truncatechars:185 | safe }}</p>
                                        </a>
                                        <div class="actions">
                                            <ul>
                                                <li>
                                                    <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="Add To Cart">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="Like">
                                                        <i class="fa fa-heart"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="Mail">
                                                        <i class="fa fa-envelope"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="Print">
                                                        <i class="fa fa-print"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </figcaption>
                                </figure>                                                
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                    <nav class="navigation pagination text-center margin-top-bottom">
                        <h2 class="screen-reader-text">Posts navigation</h2>
                    </nav>
                </div>
            </div>
        </main>
    </div>
</div>
<!-- End: Products Section -->

{% include 'social-media.html' %}

{% endblock %}
