{% extends 'base.html' %}
{% load static %}

{% block title %}BLOGS{% endblock %}

{% block metas %}

<meta name="author" content="Umutambyi Gad" />
<meta name="keywords" content="HABIYAREMYE Dona Honey, Kinyarwanda Books, {% for blog in blogs %}{{ blog.title }}{% if not forloop.last %},{% endif %}{% endfor %}" />
<meta name="description" content="Blogs of Rwandan professional author HABIYAREMYE Dona Honey on kigalidonaintelligencia website" />

{% endblock %}

{% block content %}

<!-- Start: Page Banner -->
<section class="page-banner services-banner">
    <div class="container">
        <div class="banner-header">
            <h2>Blogs</h2>
            <span class="underline center"></span>
            <p class="lead">Read different blogs on Kigali Dona Intelligencia </p>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="{% url 'Home:home' %}">Home</a></li>
                <li>Blog</li>
            </ul>
        </div>
    </div>
</section>
<!-- End: Page Banner -->



<!-- Start: Blog Section -->
<div id="content" class="site-content margin-top-bottom">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="blog-main-list">
                <div class="container">
                    <!-- Start: Search Section -->
                    <section class="search-filters">
                        <div class="container">
                            <div class="filter-box">
                                <h3>What are you looking for at the library?</h3>
                                <form action="{% url 'Blogs:search-blog' %}" method="GET">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label class="sr-only" for="keywords">Search by Keyword</label>
                                            <input class="form-control" placeholder="Search by Keyword" id="keywords" name="q" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <select name="type" class="form-control">
                                                <option selected>Blogs</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <select name="cat" id="category" class="form-control">
                                                <option value="all-category" selected>All Categories</option>
                                                {% for category in categories %}
                                                <option value="{{ category.category }}">{{ category.category }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" type="submit" value="Search">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                    <!-- End: Search Section -->
                    <div class="row">
                        {% if user.is_authenticated %}
                        <a href="{% url 'admin:index' %}" class="addition">
                            <span id="add-blog">Compose Blog</span>
                            <span id="add">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                            </span>
                        </a>
                        {% endif %}
                        <div class="blog-page grid">
                        {% for blog in blogs %}
                            <article>
                                <div class="grid-item blog-item">
                                    <div class="post-thumbnail">
                                        <div class="post-date-box">
                                            <div class="post-date">
                                                <a class="date" href="#">{{ blog.added_date.day }}</a>
                                            </div>
                                            <div class="post-date-month">
                                                <a class="month" href="#">{{ blog.added_date|date:'M' }}</a>
                                            </div>
                                        </div>
                                        <a href="{{ blog.get_absolute_url }}"><img style="height: 248px !important;" alt="{{ blog.title }}" src="{{ blog.thumbnail.url }}" /></a>
                                        <div class="post-share">
                                            <a href="{{ blog.get_absolute_url }}#comments"><i class="fa fa-comment"></i> {{ blog.rootcomments_set.all.count | add:blog.replycomments_set.all.count }}</a>
                                            <a href="{{ blog.get_absolute_url }}"><i class="fa fa-eye"></i> {{ blog.views }}</a>
                                        </div>
                                    </div>
                                    <div class="post-detail">
                                        <header class="entry-header">
                                            <div class="blog_meta_category">
                                                <span class="arrow-right"></span>
                                                {% for category in blog.related_categories.all %}
                                                <a href="#" rel="category tag">{{ category }}</a>,
                                                {% endfor %}
                                            </div>
                                            <h3 class="entry-title"><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h3>
                                            <div class="entry-meta">
                                                <span><i class="fa fa-user"></i> <a href="{{ blog.get_absolute_url }}">{{ blog.author.username }}</a></span>
                                                <span><i class="fa fa-comment"></i> <a href="{{ blog.get_absolute_url }}#comments"> {{ blog.rootcomments_set.all.count | add:blog.replycomments_set.all.count }}</a></span>
                                            </div>
                                        </header>
                                        <div class="entry-content">
                                            <p>{{ blog.description|truncatechars:260 }}</p>
                                        </div>
                                        <footer class="entry-footer">
                                            <a class="btn btn-default" href="{{ blog.get_absolute_url }}">Read More</a>
                                        </footer>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<!-- End: Blog Section -->

{% include 'social-media.html' %}

{% endblock %}