{% extends 'base.html' %}
{% load static %}

{% block title %}{{ blog.title }} By {{ blog.author.get_full_name }}{% endblock %}

{% block metas %}

<meta name="author" content="Umutambyi Gad" />
<meta name="keywords" content="{{ blog.author.get_full_name }}, Kinyarwanda Book, {{ blog.title }}" />
<meta name="description" content="Blog - {{ blog.title }} By {{ blog.author.get_full_name }}" />

{% endblock %}

{% block blog-active %}active{% endblock %}

{% block content %}

<!-- Start: Page Banner -->
<section class="page-banner services-banner">
    <div class="container">
        <div class="banner-header">
            <h2>Blog Posts</h2>
            <span class="underline center"></span>
            <p class="lead">Proin ac eros pellentesque dolor pharetra tempo.</p>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="{% url 'Home:home' %}">Home</a></li>
                <li><a href="{% url 'Blogs:blogs' %}">Blogs</a></li>
                <li>Blog Detail</li>
            </ul>
        </div>
    </div>
</section>
<!-- End: Page Banner -->

<!-- Start: Blog Section -->
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="blog-detail-main">
                <div class="container">
                    <!-- Start: Search Section -->
                    <section class="search-filters">
                        <div class="container">
                            <div class="filter-box">
                                <h3>What are you looking for at the library?</h3>
                                <form action="{% url 'Blogs:search-blog' %}" method="GET">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label class="sr-only" for="keywords">Search by Keyword</label>
                                            <input class="form-control" placeholder="Search by Keyword" id="keywords" name="q" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <select name="type" class="form-control">
                                                <option selected>Blogs</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <select name="cat" id="category" class="form-control">
                                                <option value="all-category" selected>All Categories</option>
                                                {% for category in categories %}
                                                <option value="{{ category.category }}">{{ category.category }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" type="submit" value="Search">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                    <!-- End: Search Section -->
                    <div class="row">
                        <div class="blog-page">
                            <div class="blog-section">
                                <article>
                                    <div class="blog-detail">
                                        <header class="entry-header">
                                            <div class="blog_meta_category">
                                            {% for category in blog.related_categories.all %}
                                                <a href="#" rel="category tag">{{ category }}</a>, 
                                            {% endfor %}
                                            </div>
                                            <h2 class="entry-title">{{ blog.description|truncatechars:210 }}</h2>
                                            <div class="entry-meta">
                                                <span><i class="fa fa-user"></i> <a href="#">{{ blog.author.username }}</a></span>
                                            </div>
                                        </header>
                                        <div class="post-thumbnail">
                                            <div class="post-date-box">
                                                <div class="post-date">
                                                    <a class="date" href="#">{{ blog.added_date.day }}</a>
                                                </div>
                                                <div class="post-date-month">
                                                    <a class="month" href="#">{{ blog.added_date|date:'M' }}</a>
                                                </div>
                                            </div>
                                            <figure>
                                                <img alt="blog" src="{{ blog.thumbnail.url }}" style="width: 750px !important; height: 320px !important;" />
                                            </figure>
                                        </div>
                                        <div class="post-detail">
                                            <div class="post-detail-head">
                                                <div class="post-share">
                                                    <a href="#"><i class="fa fa-comment"></i> {{ blog.rootcomments_set.all.count | add:blog.replycomments_set.all.count }} Comments</a>
                                                    <a href="#"><i class="fa fa-eye"></i> {{ blog.views }} Viewed</a>
                                                </div>
                                                <div class="post-social-share">
                                                    <ul>
                                                        {% if social_media.facebook_profile %}
                                                        <li>
                                                            <a href="{{ social_media.facebook_profile }}">
                                                                <i class="fa fa-facebook"></i><span>/ Facebook</span>
                                                            </a>
                                                        </li>
                                                        {% endif %}
                                                        {% if social_media.twitter_profile %}
                                                        <li>
                                                            <a href="{{ social_media.twitter_profile }}">
                                                                <i class="fa fa-twitter"></i> <span>/ Twitter</span>
                                                            </a>
                                                        </li>
                                                        {% endif %}
                                                        {% if social_media.linkedin_profile %}
                                                        <li>
                                                            <a href="{{ social_media.linkedin_profile }}">
                                                                <i class="fa fa-linkedin"></i> <span>/ Linkedin</span>
                                                            </a>
                                                        </li>
                                                        {% endif %}
                                                        {% if social_media.youtube_profile %}
                                                        <li>
                                                            <a href="{{ social_media.youtube_profile }}">
                                                                <i class="fa fa-youtube-play"></i> <span>/ Youtube</span>
                                                            </a>
                                                        </li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="entry-content">
                                                {{ blog.content|safe }}
                                            </div>
                                            <footer class="entry-footer">
                                                <div class="col-xs-12 col-sm-12 entry-tags"> 
                                                    <strong><i class="fa fa-tags" aria-hidden="true"></i> 
                                                    Tags:</strong> 
                                                    {% for tag in blog.related_tags.all %}
                                                        <span>
                                                            <a href="#">{{ tag }}</a>,
                                                        </span>
                                                    {% endfor %}
                                                </div>
                                            </footer>
                                        </div>
                                    </div>
                                </article>
                                <div class="about-author">
                                    <img src="{% static 'images/avatar.png' %}" alt="{{ blog.author.get_full_name }}'s image" style="height: 29px !important; width: 58px !important;" loading="lazy"/>
                                    <div class="author-content">
                                        <div class="author-head">
                                            <h3>{{ blog.author.get_full_name }}</h3>
                                            <span class="underline left"></span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <p>{{ blog.author_comment }}</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="comments-area" id="comments">
                                    <div class="comment-bg">
                                        <h4 class="comments-title">User Comments</h4>
                                        <span class="underline left"></span>
                                        <ol class="comment-list">
                                            <li class="comment even thread-even depth-1 parent">
                                                {% for root_comment in blog.rootcomments_set.all %}
                                                <div class="comment-body" id="{{ root_comment.pk }}">
                                                    <div class="comment-author vcard">
                                                        <img class="avatar avatar-32 photo avatar-default" src="{% static 'images/comments.jpg' %}" alt="Comment Author" loading="lazy">
                                                        <b class="fn">
                                                            <a class="url" rel="external nofollow" href="#">{{ root_comment.commentor }}</a>
                                                        </b>					
                                                    </div>
                                                    <footer class="comment-meta">
                                                        <div class="left-arrow"></div>
                                                        <div class="reply">
                                                            <a href="#reply-title" class="comment-reply-link {{ root_comment.pk }}">
                                                                <i class="fa fa-reply"></i> Reply
                                                            </a>
                                                        </div>
                                                        <div class="comment-metadata">
                                                            <a href="#">
                                                                <time datetime="{{ root_comment.added_date | date:"Y-m-d" }}">
                                                                    <b>{{ root_comment.added_date | date:"b d, Y" }} </b>
                                                                </time>
                                                            </a>
                                                        </div>
                                                        <div class="comment-content">
                                                            <p>{{ root_comment.comment }}
                                                            </p>
                                                        </div>
                                                    </footer>
                                                </div>
                                                {% if root_comment.replycomments_set.all.count > 0 %}
                                                {% for reply_comment in root_comment.replycomments_set.all %}
                                                <ol class="children">
                                                    <li class="comment odd alt depth-2">
                                                        <div class="comment-body">
                                                            <div class="comment-author vcard">
                                                                <img class="avatar photo" src="{% static 'images/comments.jpg' %}" alt="Comment Avatar" loading="lazy">
                                                                <b class="fn">
                                                                    <a class="url" rel="external nofollow" href="#">{{ reply_comment.reply_commentor }}</a>
                                                                </b>
                                                            </div>
                                                            <footer class="comment-meta">
                                                                <div class="left-arrow"></div>
                                                                <div class="reply">
                                                                    <a href="#reply-title" class="comment-reply-link {{ root_comment.pk }}">
                                                                        <i class="fa fa-reply"></i> Reply
                                                                    </a>
                                                                </div>
                                                                <div class="comment-metadata">
                                                                    <a href="#">
                                                                        <time datetime="{{ reply_comment.added_date | date:"Y-m-d" }}">
                                                                            <b>{{ reply_comment.added_date | date:"b d, Y" }} </b>
                                                                        </time>
                                                                    </a>
                                                                </div>
                                                                <div class="comment-content">
                                                                    <p>{{ reply_comment.reply_comment }}</p>
                                                                </div>
                                                            </footer>
                                                        </div>
                                                    </li>
                                                </ol>
                                                {% endfor %}
                                                {% endif %}
                                                {% endfor %}
                                            </li>
                                        </ol>
                                    </div>
                                    <div class="comment-respond" id="respond">
                                        <h4 class="comment-reply-title" id="reply-title">Write your comment:</h4>
                                        <span class="underline left"></span>
                                        <form class="comment-form" id="commentform" method="POST" action="{% url 'Blogs:blog-single' blog.id blog.slug %}">
                                            {% csrf_token %}
                                            <div class="row">
                                                <p class="comment-form-author input-required">
                                                    <label>
                                                        <span class="first-letter">Name</span>  
                                                        <span class="second-letter">*</span>
                                                    </label>
                                                    <input name="author" id="author" type="text" required>
                                                </p>
                                                <p class="comment-form-comment">
                                                    <textarea name="comment" id="comment" placeholder="Comment" required></textarea>
                                                </p>
                                            </div>
                                            <div class="clearfix"></div>
                                            <p class="form-submit">
                                                <input value="Submit" class="submit" id="submit" name="submit" type="submit"> 
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<!-- End: Blog Section -->

{% include 'social-media.html' %}

{% endblock %}
