{% extends 'base.html' %}

{% block blog-active %}active{% endblock %}

{% block title %}Composing new blog{% endblock %}

{% block metas %}

<meta name="author" content="Umutambyi Gad" />
<meta name="keywords" content="Kinyarwanda Book" />
<meta name="description" content="Composing new blog on kigalidonaintelligencia" />

{% endblock %}

{% block content %}

<!-- Start: Page Banner -->
<section class="page-banner services-banner">
    <div class="container">
        <div class="banner-header">
            <h2>New Blog</h2>
            <span class="underline center"></span>
            <p class="lead">The standard chunk of Lorem Ipsum used since</p>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="{% url 'Home:home' %}">Home</a></li>
                <li><a href="{% url 'Blogs:blogs' %}">Blogs</a></li>
                <li>New Blog<li>
            </ul>
        </div>
    </div>
</section>
<!-- End: Page Banner -->

<form id="editor-content" action="{% url 'Blogs:new-blog' %}" method="POST">
    {% csrf_token %}
    <textarea name="content" id="editor"></textarea>
    <input type="submit" name="submit">
</form>
<script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('editor');
</script>

{% include 'social-media.html' %}

{% endblock %}
