{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Title -->
        <title>KIGALI DONA INTELLIGENCIA - {% block title %}{% endblock %}</title>

        <!-- Meta -->
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {% block metas %}{% endblock %}

        <!-- Favicon -->
        <link href="{% static 'images/logo.png' %}" rel="icon" type="image/x-icon" />
        

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CLato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" integrity="sha512-TECBPTD5Db97nlsJ/gGBBv9JLXg172YcGtrl/HHM4x9W++PPKEpHs61ogVd4x2omTgST1dIHoy2HeYWZzcZzHw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <!-- Mobile Menu -->
        <link href="{% static 'css/mmenu.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/mmenu.positioning.css' %}" rel="stylesheet" type="text/css" />

        <!-- Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="{% static 'js/html5shiv.min.js' %}"></script>
        <script src="{% static 'js/respond.min.js' %}"></script>
        <![endif]-->
        
    </head>
    <body class="layout-v2">
        <!-- Start: Header Section -->
        <header id="header" class="navbar-wrapper">
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-default">
                        <div class="col-sm-12">
                            <!-- Header Topbar -->
                            <div class="header-topbar hidden-sm hidden-xs">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="topbar-info">
                                            <a href="tel:{{ footer_contact.phone }}"><i class="fa fa-phone"></i>{{ footer_contact.phone }}</a>
                                            <span>/</span>
                                            <a href="mailto:{{ footer_contact.email }}"><i class="fa fa-envelope"></i>{{ footer_contact.email }}</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="topbar-links">
                                        {% if user.is_authenticated %}
                                            <a href="#">
                                                <i class="fa fa-user"></i>
                                                    {{ user.username }}
                                            </a>
                                        {% else %}
                                            <a href="{% url 'Home:login' %}">
                                                <i class="fa fa-user"></i>
                                                    Login
                                            </a>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-light">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="navbar-header">
                                            <div class="navbar-brand">
                                                <h1>
                                                    <a href="{% url 'Home:home' %}">
                                                        <img src="{% static 'images/logo.png' %}" alt="Intelligencia" id="logo" />
                                                    </a>
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="navbar-collapse hidden-sm hidden-xs">
                                            <ul class="nav navbar-nav">
                                                <li class="{% if request.path == '/' %}active{% endif %}"><a href="{% url 'Home:home' %}">Home</a></li>
                                                <li class="{% if request.path == '/about-us/' %}active{% endif %}"><a href="{% url 'About-us:aboutUs' %}">About Us</a></li>
                                                <li class="{% if request.path == '/books/' %}active{% endif %}{% block book-active %}{% endblock %}"><a href="{% url 'Books:books' %}">Books</a></li>
                                                <li class="{% if request.path == '/blogs/' %}active{% endif %}{% block blog-active %}{% endblock %}"><a href="{% url 'Blogs:blogs' %}">Blogs</a></li>
                                                <li class="{% if request.path == '/contact/' %}active{% endif %}"><a href="{% url 'Contact:contact' %}">Contact</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mobile-menu hidden-lg hidden-md">
                        <a href="#mobile-menu"><i class="fa fa-navicon"></i></a>
                            <div id="mobile-menu">
                                <ul>
                                    <li class="mobile-title">
                                        <h4>KIDI</h4>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li class="{% if request.path == '/' %}active{% endif %}"><a href="{% url 'Home:home' %}">Home</a></li>
                                    <li class="{% if request.path == '/about-us/' %}active{% endif %}"><a href="{% url 'About-us:aboutUs' %}">About Us</a></li>
                                    <li class="{% if request.path == '/books/' %}active{% endif %}"><a href="{% url 'Books:books' %}">Books</a></li>
                                    <li class="{% if request.path == '/blogs/' %}active{% endif %}"><a href="{% url 'Blogs:blogs' %}">Blogs</a></li>
                                    <li class="{% if request.path == '/contact/' %}active{% endif %}"><a href="{% url 'Contact:contact' %}">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!-- End: Header Section -->

        {% block content %}{% endblock %}

        <!-- Start: Footer -->
        <footer class="site-footer">
            <div class="container">
                <div id="footer-widgets">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 widget-container">
                            <div id="text-2" class="widget widget_text">
                                <h3 class="footer-widget-title">About KIDI</h3>
                                <span class="underline left"></span>
                                <div class="textwidget">
                                    You can simply reach us by emailing us, calling us or follow the location on the map, we are available.
                                </div>
                                <address>
                                    <div class="info">
                                        <i class="fa fa-location-arrow"></i>
                                        <span>{{ footer_contact.address }}</span>
                                    </div>
                                    <div class="info">
                                        <i class="fa fa-envelope"></i>
                                        <span><a href="mailto:{{ footer_contact.email }}">{{ footer_contact.email }}</a></span>
                                    </div>
                                    <div class="info">
                                        <i class="fa fa-phone"></i>
                                        <span><a href="tel:{{ footer_contact.phone }}">{{ footer_contact.phone }}</a></span>
                                    </div>
                                </address>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 widget-container">
                            <div id="nav_menu-2" class="widget widget_nav_menu">
                                <h3 class="footer-widget-title">Quick Links</h3>
                                <span class="underline left"></span>
                                <div class="menu-quick-links-container">
                                    <ul id="menu-quick-links" class="menu">
                                        <li><a href="{% url 'Home:home' %}">Home</a></li>
                                        <li><a href="{% url 'About-us:aboutUs' %}">About Us</a></li>
                                        <li><a href="{% url 'Books:books' %}">Books</a></li>
                                        <li><a href="{% url 'Blogs:blogs' %}">Blogs</a></li>
                                        <li><a href="{% url 'Contact:contact' %}">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
            <div class="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="footer-text col-md-3">
                            <p><a href="{% url 'Home:home' %}">Kigali Dona Intelligencia</a></p>
                        </div>
                        <div class="col-md-9 pull-right">
                            <p class="lead">Copyright &copy; 2021 by <strong><a href="https://umutambyigad.me">Umutambyi Gad</a></strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End: Footer -->

        <!-- jQuery Latest Version 1.x -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" integrity="sha512-jGsMH83oKe9asCpkOVkBnUrDDTp8wl+adkB2D+//JtlxO4SrLoJdhbOysIFQJloQFD+C4Fl1rMsQZF76JjV0eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        <!-- jQuery UI -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        <!-- jQuery Easing -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha512-ahmSZKApTDNd3gVuqL5TQ3MBTj8tL5p2tYV05Xxzcfu6/ecvt1A0j6tfudSGBVuteSoTRMqMljbfdU0g2eDNUA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-- Bootstrap -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha512-iztkobsvnjKfAtTNdHkGVjAYTrrtlC7mGp/54c40wowO7LhURYl3gVzzcEqGl/qKXQltJ2HwMrdLcNUdo+N/RQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        <!-- Waypoints - Load Elements on View -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js" integrity="sha512-kIRDPWIBoKpF79HJv3xBPQgZKjhxzqMGG2N68svvId45w9vp/hTXoR7cDERYhVEhLJTuSGb/c3+ZHgeQfLm0Hg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        <!-- Masonry -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.min.js" integrity="sha512-coKEwkkVJR6lO1aL/rJeVFojNKG1DRNbAfuxcvFC98W9TYBO9TQIVFXiHBBx6dRL9+effSNEYIr/5vLe5HENVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>        
        
        <!-- bxSlider -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.0/jquery.bxslider.min.js" integrity="sha512-BG+vCQOiR39q85kV710ltCcT2MXdzyYIrO7DccoNUnvM97SXWhXTKdMGX7FOHG3Yjm78IggAzDAhA5GeQ4HHOw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        <!-- Mark js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js" integrity="sha512-mhbv5DqBMgrWL+32MmsDOt/OAvqr/cHimk6B8y/bx/xS88MVkYGPiVv2ixKVrkywF2qHplNRUvFsAHUdxZ3Krg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-- MixItUp - Category Filter -->
        <script type="text/javascript" src="{% static 'js/mixitup.min.js' %}"></script>

        <!-- Mobile Menu -->
        <script type="text/javascript" src="{% static 'js/mmenu.min.js' %}"></script>
        
        <!-- Harvey - State manager for media queries -->
        <script type="text/javascript" src="{% static 'js/harvey.min.js' %}"></script>

        <!-- Facts Counter -->
        <script type="text/javascript" src="{% static 'js/facts.counter.min.js' %}"></script>

        <!-- Owl Carousel -->
        <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
        
        <!-- Accordion -->
        <script type="text/javascript" src="{% static 'js/accordion.min.js' %}"></script>
        
        <!-- Responsive Tabs -->
        <script type="text/javascript" src="{% static 'js/responsive.tabs.min.js' %}"></script>
        
        <!-- Responsive Table -->
        <script type="text/javascript" src="{% static 'js/responsive.table.min.js' %}"></script>

        <!-- Carousel Swipe -->
        <script type="text/javascript" src="{% static 'js/carousel.swipe.min.js' %}"></script>

        <!-- Custom Scripts -->
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        
    </body>
</html>